# Created by .ignore support plugin (hsz.mobi)
/.idea/
/.gradle/
Будет удалено .gradle/
Будет удалено .idea/
Будет удалено build.gradle
Будет удалено dms-core-api/
Будет удалено dms-core/
Будет удалено dms-device-api/
Будет удалено dms-dl-api/
Будет удалено dms-dl-sql/
Будет удалено dms-model/
Будет удалено dms-rest-api/
Будет удалено dms-rest/
Будет удалено gradle/
Будет удалено gradlew
Будет удалено gradlew.bat
Будет удалено settings.gradle
Будет удалено src/
